/*Body as a whole*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}
h1, h2, h3 {
    color: #1e3a8a;
}

/*Header*/
header {
    text-align: center;
}
header h1 {
    font-size: 36px;
}
header h2 {
    font-size: 18px;
}
header h3 {
    font-size: 12px;
}
.banner {
    background: url('images/banner.png') center center / cover no-repeat;
    height: 200px;
}
@media (max-width: 480px) {
    .banner {
        width: 400px;
    }
}

/*FAQ*/
.faq-section {
    padding: 20px;
    text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
}
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/*Confession*/
.confession-section {
    padding: 20px;
    text-align: center;
    background: url('images/wave.svg');
}
.card-confession {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 650px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 12px;
}

/*Images*/
.photo-section {
    padding: 40px;
    text-align: center;
    background-color: #1e3a8a;
}
.photo-section h1 {
    color: #fff;
}
.photo-section p {
    color: white;
}
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 40px;
}
@media (max-width: 480px) {
    .photo-gallery {
        grid-template-columns: 1fr;
    }
}
.card-photo {
    background: #fff;
    border: 0px solid #dbeafe;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 6px rgba(30,58,138,0.1);
}
.card-photo img {
    width: 100%;
    height: auto;
    display: block;
}
.card-photo p {
    color: #1e3a8a;
    padding: 10px;
    font-size: 14px;
}


/*Footer*/
footer {
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #3a486e;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer a {
    color: #fff;
}
